# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
env/
.venv/

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Docker
*.tar

# IDE
.vscode/
.idea/

# Python build
build/
dist/
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# Cache
.cache/

# HuggingFace token safety
*.env